@mixin backgroundImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 2% 1%;
}
